In [3]:
import pandas as pd
url = "https://raw.githubusercontent.com/Apress/data-analysis-and-visualization-using-python/master/Ch07/Salaries.csv"
data = pd.read_csv(url)
print("First few rows of 'Salaries.csv':")
print(data.head())

First few rows of 'Salaries.csv':
   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [4]:
data = pd.read_csv("cars.csv")
# Display first few rows
print("First few rows of 'Cars.csv':")
print(data.head())

First few rows of 'Cars.csv':
   age  gender  miles   debt  income  sales
0   28       0     23      0    4099    620
1   26       0     27      0    2677   1792
2   30       1     58  41576    6215  27754
3   26       1     25  43172    7626  28256
4   20       1     17   6979    8071   4438

In [5]:
df = data

print("\nHEAD:")
print(df.head())

print("\nTAIL:")
print(df.tail())

print("\nSHAPE:")
print(df.shape)

print("\nDESCRIBE:")
print(df.describe())

HEAD:
   age  gender  miles   debt  income  sales
0   28       0     23      0    4099    620
1   26       0     27      0    2677   1792
2   30       1     58  41576    6215  27754
3   26       1     25  43172    7626  28256
4   20       1     17   6979    8071   4438

TAIL:
     age  gender  miles   debt  income  sales
958   22       0     11   8778    9829   1593
959   19       1     23   4850    3470   4742
960   28       1     28   9312    2720  12771
961   50       0     29  51343    8713  28511
962   47       1     15   3735    6406   6104

SHAPE:
(963, 6)

DESCRIBE:
              age      gender       miles          debt        income  \
count  963.000000  963.000000  963.000000    963.000000    963.000000
mean    37.971963    0.512980   27.704050  14109.004154   6176.047767
std     12.290838    0.500091   13.378181  18273.702481   3260.670142
min     19.000000    0.000000   10.000000      0.000000      0.000000
25%     27.000000    0.000000   20.000000   1475.000000   3506.500000
50%     37.000000    1.000000   25.000000   6236.000000   6360.000000
75%     49.000000    1.000000   32.000000  16686.000000   8649.500000
max     60.000000    1.000000   97.000000  59770.000000  11970.000000

              sales
count    963.000000
mean   11689.860852
std     8986.896921
min      500.000000
25%     3554.000000
50%     9130.000000
75%    19245.000000
max    29926.000000

In [6]:
data = {
    'Name': ['John', 'Jane', 'Babu', 'Peter', 'Leju'],
    'Age': [25, 30, 35, 40, 55],
    'City': ['New York', 'London', 'Paris', 'UK', 'Germany']
}
df = pd.DataFrame(data)

print("Step 1 - Dictionary Data:")
print(data)

Step 1 - Dictionary Data:
{'Name': ['John', 'Jane', 'Babu', 'Peter', 'Leju'], 'Age': [25, 30, 35, 40, 55], 'City': ['New York', 'London', 'Paris', 'UK', 'Germany']}

In [7]:
print("\nDataFrame Creation:")
print(data)

DataFrame Creation:
{'Name': ['John', 'Jane', 'Babu', 'Peter', 'Leju'], 'Age': [25, 30, 35, 40, 55], 'City': ['New York', 'London', 'Paris', 'UK', 'Germany']}

In [8]:
print("\nFirst five rows of DataFrame:")
print(df.head())

First five rows of DataFrame:
    Name  Age      City
0   John   25  New York
1   Jane   30    London
2   Babu   35     Paris
3  Peter   40        UK
4   Leju   55   Germany

In [9]:
print("\nDataFrame Info:")
df.info()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes

In [10]:
# Sample data creation (you may replace it with actual CSV import)
data = pd.DataFrame({
    'Department': ['HR', 'IT', 'HR', 'Finance', 'IT', 'Finance', 'HR'],
    'EmployeeID': [1, 2, 3, 4, 5, 6, 7],
    'Salary': [50000, 80000, 52000, 70000, 90000, 65000, 58000],
    'YearsOfExperience': [2, 5, 3, 4, 6, 7, 4],
    'Age': [25, 30, 26, 35, 28, 40, 29]
})

In [11]:
mean_salary = data.groupby('Department')['Salary'].mean()

print("Mean Salary by Department:")
print(mean_salary)

Mean Salary by Department:
Department
Finance    67500.000000
HR         53333.333333
IT         85000.000000
Name: Salary, dtype: float64

In [12]:
agg_result = data.groupby(['Department', 'YearsOfExperience']).agg({
    'Salary': ['mean', 'max'],
    'Age': 'median'
})

print("\nGrouped by Department and Experience with Aggregations:")
print(agg_result)

Grouped by Department and Experience with Aggregations:
                               Salary           Age
                                 mean    max median
Department YearsOfExperience
Finance    4                  70000.0  70000   35.0
           7                  65000.0  65000   40.0
HR         2                  50000.0  50000   25.0
           3                  52000.0  52000   26.0
           4                  58000.0  58000   29.0
IT         5                  80000.0  80000   30.0
           6                  90000.0  90000   28.0

In [13]:
mean_salary = data.groupby('Department')['Salary'].mean()
filtered = mean_salary[mean_salary > 60000]

print("\nDepartments with Mean Salary > 60000:")
print(filtered)

Departments with Mean Salary > 60000:
Department
Finance    67500.0
IT         85000.0
Name: Salary, dtype: float64

In [14]:
def salary_range(series):
    return series.max() - series.min()

custom_agg = data.groupby('Department')['Salary'].agg(salary_range)

print("\nCustom Aggregation (Salary Range) by Department:")
print(custom_agg)

Custom Aggregation (Salary Range) by Department:
Department
Finance     5000
HR          8000
IT         10000
Name: Salary, dtype: int64